.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.box{
    align-items: center;
    text-align: center;
    width: 45%;
    height: 150px;
}