.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.box{
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    width: 51%;
    height: 150px;
    transition: 4s;
    background-color: rgb(63, 63, 63);
    font-size: initial;
}

.box:hover{
    height: 750px;
    width: 90%;
}

.box h2{
    transition: 4s;
    
}

.box:hover h2{
    font-size:xx-large;
    
}

.box span{
    transition: 2s;
    visibility: hidden;
}

.box:hover span{
    visibility: visible;
    background-color: rgba(219, 219, 219, 0.87);
}

#b1{
    background-image: unset;
}

#b1:hover{
    background-image: url(./kepek/logo.svg);
    /* background-color: unset; */
    background-attachment: fixed;
}


#b2{
    background-image: unset;
}

#b2:hover{
    background-image: url(./kepek/less-logo.png);
    /* background-color: unset; */
    background-attachment: fixed;
}


#b3{
    background-image: unset;
}

#b3:hover{
    background-image: url(./kepek/Stylus-logo.png);
    /* background-color: unset; */
    background-attachment: fixed;
}


h1{
    transition: 5s;
    align-self: center;
    text-align: center;
}

h1:hover{
    transform: scale(1.4);
}


h3{
    width: 3%;
    text-align: center;
    text-decoration: none;
    transition: 2s;
}

h3 img{
    width: 50%;
}

a{
    text-decoration: none;
    color: unset;
    align-self: center;
}


h3:hover{
transform: rotatex(-180deg);
}

body{
    background-image: linear-gradient(45deg,rgb(48, 129, 250),rgb(0, 255, 255));
    background-repeat: no-repeat ; 
    background-attachment: fixed;
}